<<<<<<< HEAD
.thumbnail {
  width: 100px;
  height: 100px;
  object-fit: cover;
=======
.thumbnail {
  width: 100px;
  height: 100px;
  object-fit: cover;
>>>>>>> 2524bd8b11a92f91b01009e2bf6749044b5b7cf9
}